body{
    background-color: #040967;
    margin: 0;
    padding: 0;
}
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), url('./images/backgroudn\ EXT.jpg');
    background-size: cover;
    background-position: center;
    height: 30em;
  }
header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #040967, rgba(20, 20, 90, 0));
}
  
  .navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    margin-top: -20px;
    width: 200px;
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 7%;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: grid;
    place-items: start;
    height: 100%;
  }
  
  .centered-text {
    text-align: start;
    z-index: 1;
    color: white;
    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*@media (min-width: 300px) and (max-width: 900px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        }
    .centered-text {
        font-size: 3em;
        margin-top: 1.5em;
    }
    .texto-grande {
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
        align-self: center;
        padding-left: 23.5%;
        padding-right: 10% !important;
    }
} */
.paragrafo {
    display: grid;
    place-items: start;
    height: 10em;
    margin-top: 0px;
  }
  
  .p-text {
    z-index: 1;
    text-align: center;
    color: white;
    margin-left: 7%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .div-do-grafico {
    display: grid;
    place-items: center;
    height: 30%;
  }
  
  .centered-text {
    text-align: center;
    color: white;
  }
  
  .grafico-image {
    max-width: 99%;
    height: 25em;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container h1 {
    font-size: 3em;
  }
  
  @media (max-width: 768px) {
    body{
    margin: 0;
    padding: 0;
    width: 100%;
    }
    .text-container {
      flex-direction: column;
    }
    .centered-text {
        font-size: 2.5em !important;
        margin-top: 10vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .texto-grande {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        align-self: center;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .texto-grande-display-none{
        padding-left: 10% !important;
        padding-right: 10% !important;
        margin-top: -1vh;
    }
    .p-text{
        margin: 2vh;
        font-size: 17px;
    }
    .grafico-image {
        width: 100%;
        height: 100%;
    }
    .div-do-grafico{
        margin-top: 5vh;
    }
    .contato-btn{
        display: grid !important;
        justify-items: center !important;
    }
    .contato-btn2{
        display: grid !important;
        justify-items: center !important;
    }
  }
  .contato-btn{
    display: grid !important;
    justify-items: center !important;
}
.contato-btn2{
    display: grid !important;
    justify-items: center !important;
}
  .explain-txt{
    display: grid;
    place-items: center;
    align-items: center;
}
.texto-grande {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    padding-left: 23.5%;
    padding-right: 30%;
}
.texto-grande-display-none{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    padding-left: 23.5%;
    padding-right: 30%;
    display: none;
}  
  .read-more-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: -6em;
  }
  .contact-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 2em;
  }
  
  .contact-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }


  slider {
    width: 100%;
  }
  .slider input {
    display: none;
  }
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden;
    margin-top: 10em;
  }
  .testimonials .item {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 30px;
    width: 290px;
    height: 22em;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
  }
  .testimonials .item img {
    width: 100px;
  }
  .testimonials .item p {
    color: rgb(46, 46, 46);
  }
  .testimonials .item h2 {
    font-size: 14px;
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000000;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
  }
  /* First */
  #t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 4;
  }
  #t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
  }
  #t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
  }
  #t-1:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 1;
  }
  #t-1:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
  }
  /* Second */
  #t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  }
  #t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 3;
  }
  #t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
  }
  #t-2:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 1;
  }
  #t-2:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  }
  /* Third */
  #t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  }
  #t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  }
  #t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 3;
  }
  #t-3:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
  }
  #t-3:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  }
  /* Fourth */
  #t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
  }
  #t-4:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  }
  #t-4:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  }
  #t-4:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 2;
  }
  #t-4:checked ~ .testimonials label[for="t-4"] {
    z-index: 3;
  }
  #t-4:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  }
  /* Fifth */
  #t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
  }
  #t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);
    background-color: #fff;
  }
  #t-5:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
  }
  #t-5:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
    z-index: 1;
  }
  #t-5:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    z-index: 2;
  }
  #t-5:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 3;
  }
  #t-5:checked ~ .testimonials label[for="t-5"] {
    z-index: 4;
  }
  .Title-slides{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt-slides{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
}
.last-info{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.txt-final{
    margin-top: 5em;
    margin-left: 5%;
    margin-right: 5%;
}
.contact-button2 {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 20px;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
  }
  
  .contact-button2:hover {
    background-color: transparent;
    color: white;
  }
  
  .footer {
    margin-top: 5em;
    height: 10em;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }

  .footer-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
  }

  .footer-text {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }