body{
    background-color: #040967;
    margin: 0;
    padding: 0;
}
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), url('./images/backgroudn\ EXT.jpg');
    background-size: cover;
    background-position: center;
    height: 30em;
  }
header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #040967, rgba(20, 20, 90, 0));
}
  
  .navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    margin-top: -20px;
    width: 200px;
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 7%;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: grid;
    place-items: start;
    height: 100%;
  }
  
  .centered-text {
    text-align: start;
    z-index: 1;
    color: white;
    font-size: 7em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  @media (min-width: 300px) and (max-width: 900px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        }
    .centered-text {
        font-size: 3em;
        margin-top: 1.5em;
    }
    .texto-grande {
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
        align-self: center;
        padding-left: 23.5%;
        padding-right: 10% !important;
    }
}
.paragrafo {
    display: grid;
    place-items: start;
    height: 10em;
    margin-top: 0px;
  }
  
  .p-text {
    z-index: 1;
    text-align: center;
    color: #b3b3b3;
    margin-left: 7%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .div-do-grafico {
    display: grid;
    place-items: center;
    height: 30%;
  }
  
  .centered-text {
    text-align: start;
    color: white;
  }
  
  .grafico-image {
    max-width: 99%;
    height: 25em;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container h1 {
    font-size: 3em;
  }
  
  @media (max-width: 768px) {
    body{
    margin: 0;
    padding: 0;
    width: 100%;
    }
    .text-container {
      flex-direction: column;
    }
  }
  .explain-txt{
    display: grid;
    place-items: center;
    align-items: center;
}
.texto-grande {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    padding-left: 23.5%;
    padding-right: 30%;
}
.texto-grande-display-none{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    padding-left: 23.5%;
    padding-right: 30%;
    display: none;
}  
  .read-more-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: -6em;
  }